content/*
assets/partner_video/Avnish Nainawatee_M & G_Gold Partner.mp4
assets/partner_video/Jitendra Keswani_Marsh McLennan_Gold Partner.mp4
assets/partner_video/Kalpana Shah_IFoA_Gold Partner.mp4
assets/partner_video/Kulin Patel_CEO_KAPandit_AGFA_compressed.mp4
assets/partner_video/Kulin Patel_CEO_KAPandit_AGFA.mp4
assets/partner_video/OneDrive_1_2-7-2024.zip
